@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap');

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    
}

#clock {
    font-family: 'Orbitron';
    font-size: 5rem;
    color: #32cd32;
}
